---
import Layout from '../layouts/BlogPost.astro';
import heroImage from '../assets/images/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="its 'ah me, Avi"
	pubDate={new Date('Mar 03 2025')}
	heroImage={heroImage}
>
	<p>		
		Hi there! This is Aravind, people also call me Avi, I'm a Salesforce Mulesoft Developer passionate about building scalable integration solutions and sharing knowledge with the tech community.
		This is my personal space where I share insights, experiences, and express my curiosity about the latest tech. 
	</p>

	<p>
		I have a Masters in Physics, got into IT service as I loved coding and business. Hobbies are taking Photos and driving.
	</p>

	<p>
		Thank you so much for checking me out, Have a nice day!! 🙂
	</p>
</Layout>
